name: Borsa Bot - Otomatik Analiz

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test adımı
        run: echo "GitHub Actions çalışıyor ✅"
